################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MongoDBHelper/obj
/MyMongoDBDemo/obj
/MyMongoDBDemo/MyMongoDBDemo.csproj
/MyMongoDBDemo/.vs/MyMongoDBDemo/v16
/MyMongoDBDemo/Program.cs
/MyMongoDBDemo/bin/Debug/net5.0
/.vs/MyMongoDBDemo/v16
/MongoDBHelper/bin/Debug/net5.0
/.vs/MyMongoDBDemo/DesignTimeBuild
