################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MongoDBHelper/obj
/MyMongoDBDemo/obj
/MyMongoDBDemo/.vs/MyMongoDBDemo/v16
/MyMongoDBDemo/bin/Debug/net5.0
/.vs/MyMongoDBDemo/v16
/MongoDBHelper/bin/Debug/net5.0
/.vs/MyMongoDBDemo/DesignTimeBuild/.dtbcache.v2
